<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bank.mapper.ProductdetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.bank.pojo.Productdetail">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="salesChannels" property="salesChannels" />
        <result column="initialAmount" property="initialAmount" />
        <result column="deadLine" property="deadLine" />
        <result column="rateOfReturn" property="rateOfReturn" />
        <result column="rateOfComparative" property="rateOfComparative" />
        <result column="riskRating" property="riskRating" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, salesChannels, initialAmount, deadLine, rateOfReturn, rateOfComparative, riskRating
    </sql>

</mapper>
